@import "tailwindcss";

@theme inline {
  /* light/dark bg */
  --color-surface-light: #F6FDFF;
  --color-surface-dark: #04151F;

  /* accents */
  --color-pacific-500: #388697;
  --color-brand-pacific-secondary: #6FB5C2;
  --color-tangerine-500: #F2A183;
  --color-brand-tangerine-secondary: #F7B49C;


  --color-brand-primary: var(--color-pacific-500);
  --color-brand-accent: var(--color-tangerine-500);
  /* ui states */
  --color-success: #C9EDDC;
  --color-warning: #F2A183; /* Using your tangerine for warnings */
}

html { 
background-color: var(--color-surface-light);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
